server:
  port: 8081

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    # Add createDatabaseIfNotExist=true to automatically create the DB if missing
    url: jdbc:mysql://localhost:3306/laihua_student?serverTimezone=GMT%2B8&useSSL=false&allowPublicKeyRetrieval=true&characterEncoding=utf-8&createDatabaseIfNotExist=true
    username: root
    password: root
  sql:
    init:
      mode: always
  mvc:
    static-path-pattern: /**
  web:
    resources:
      static-locations: classpath:/resources/, classpath:/static/
  thymeleaf:
    cache: false
    mode: HTML5

logging:
  level:
    com:
      codeying: debug
